*{
  margin: 0;

}
body{
    background-image: linear-gradient(to right,rgb(20,147,220),rgb(17,54,71));
    color: white;
}

.borda{
    border: 1px solid dodgerblue;
    border-radius: 15px;
    padding: 20px;
}
.form{
    height: 50%;
    width: 40%;
    background-color: rgb(0,0,0,0.4);
    margin: 20px auto 10px auto;
    padding: 8px 20px 20px 20px;
    border-radius: 15px;

}


.container__form{
    margin: 25px 0 25px 0;
   display: flex;
   justify-content:space-around;
       
}
.box__controle{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.butao__controle__menos{
    border: none;
    padding: 0px 7px 3px 7px;
    border-radius: 50%;
    background-color:dodgerblue;
    cursor: pointer;
    text-align: center;
}
.butao__controle__mais{
    border: none;
    padding: 0px 7px 3px 7px;
    border-radius: 50%;
    background-color:dodgerblue;
    cursor: pointer;
    text-align: center;
   
}
.box__resultado{
    text-align: center;
}

.container__genero__notificacao{
    display: flex;
    align-items: center;
    
    
    
}
.container__form__genero{
    display: flex;
    
    
}
.container__form__genero__opcao{
    display: flex;
    
    align-items: center;
    padding: 10px 5px 50px 5px;
}

.input__genero{
    margin-right: 5px;
}
.box__notificacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 50px;
    font-size: 0.6rem;
    border: 1px solid dodgerblue;
    border-radius: 10px;
    padding: 5px 2px;
}
.container__form2{
    display: flex;
    flex-direction: column  ;
}
.input__box .entrada{
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    font-size: 15px;
    letter-spacing: 1px;
    color: white;
}

.input__box{
    position: relative;
}
.label__imput{
   position: absolute;
   top: 0px;
   left: 0px;
   pointer-events: none;
   transition: .5s;
}
.input__box .entrada:focus ~ .label__imput,
.input__box .entrada:valid ~ .label__imput{
    top:-10px;
    font-size: 12px;
    color: dodgerblue;
}
.input__valor{
    width: 1rem;
    border-radius: 5px;
    text-align: center;
    background: none;
    border: none;
    border-bottom: 0px solid white;
    outline: none;
    font-size: 15px;
    letter-spacing: 1px;
    color: white;
    

}

#data__de__chegada{
 border: none;
 padding: 3px;
 border-radius: 10px;
 outline: none;
 font-size: 1rem;
 margin-left: 20px;
}

.texto__area{
    margin: 5px;
  
}
.botao{
    background-image: linear-gradient(to right,rgb(0,92,197),rgb(90,20,220));
    width: 100%;
    border: none;
    padding: 10px;
    color: white;
    font-size: 0.8rem;
    cursor: pointer;
    border-radius: 10px;
    margin: 5px auto;
    transition: background .3s;
    
}
.botao:hover{
    background-image: linear-gradient(to right,rgb(0,80,172),rgb(80,19,195));    
    
}
.botao:active{
   border: none; 
}